<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Swag Labs">
    <test name="E2E">
        <classes>
            <class name="com.namnh.suite.Cookies" />
            <class name="com.namnh.suite.Login" />
            <class name="com.namnh.suite.Sort" />
        </classes>
    </test>
</suite>